<div class="individualPOST">
  <div class="postheader">
    <h3>Post #<%=@post.id%> by <%=@post.author.name%></h3>
  </div>

  <div class="postBody">
    <p><%=@post.text%></p>
  </div>
</div>

<div class="postcomments">
    <div class="comments">
      <%= @post.most_recent_comments.each do |comment| %> 
        <p><%= comment.author.name %> : <%= comment.text %> </p>
      <% end %>
    </div>
</div>